tim_specific_code/*
db_analysis/formatting_old_resfinder_dbs.ipynb 
method_analysis/result_tarballs/resfinderfull_20191001/*
method_analysis/result_tarballs/resfinderblm_20191001/*
method_analysis/result_tarballs/resfinderami_20191001/*
method_analysis/result_tarballs/resfinderqui_20191001/*
method_analysis/result_tarballs/resfindersul_20191001/*
method_analysis/result_tarballs/resfindertri_20191001/*
method_analysis/result_tarballs/resfinder_20190122/*
method_analysis/result_tarballs/resfinder_20180122/*
method_analysis/result_tarballs/resfinder_20170126/*
method_analysis/result_tarballs/card_20191023/*
db_analysis/db_comparison_result_tarballs/resfinder_results/*
db_analysis/db_comparison_result_tarballs/card_results/*
